@charset "utf-8";


.section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .section.page1{
      background-image: url(../assets/fullpage/page01.png);
  }



#fp-nav{
    right: 35px;
}
#fp-nav ul li span{
    height: 10px;
    width: 10px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    background: transparent;
    border: 2px solid #232323;
}







  .title{
      font-size: 70px;
      opacity: 0;
      transition:.5s
  }
  .title.text-opacity{
      opacity:1;
  }

  .scrollBox p{
      font-size: 18px;
  }

  .scrollBox{
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform:translateX(-50%);
      animation-name:scroll-down;
      animation-duration: 0.8s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
  }
  @keyframes scroll-down {
      from{
          bottom: 20px;
      }
      to{
          bottom: 40px;
      }
  }
