@charset "utf-8";


.section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
  .section.page1{
      background-image: url(../assets/fullpage/page01.png);
  }
  .text-box h4{
      font-size: 30px;
  }
  .text-box h2{
      font-size: 48px;
  }


#fp-nav{
    right: 35px;
}
#fp-nav ul li span{
    height: 10px;
    width: 10px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    background: transparent;
    border: 2px solid #232323;
}

.next{
    background-image: url(../assets/caret-down-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.prev{
    background-image: url(../assets/caret-up-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}




  .title{
      font-size: 70px;
      opacity: 0;
      transition:.5s
  }
  .newyork,
  .gala,
  .romeo
  {
    opacity: 0;
    transition:.5s
  }
  
  .text-opacity{
      opacity:1;
  }

  .scrollBox p{
      font-size: 18px;
  }

  .scrollBox{
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform:translateX(-50%);
      animation-name:scroll-down;
      animation-duration: 0.8s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
  }
  @keyframes scroll-down {
      from{
          bottom: 20px;
      }
      to{
          bottom: 40px;
      }
  }



  /* page3 */

  .page3 .date{
      margin-bottom: 150px;
  }
  .ticket p{   
      transition: .3s;
  }
  .ticket p:hover{
      transform: scale(1.1);
      
  }







/* page4 */



  .page4{
      position: relative;
  }
  
  .page4 img{
      position: absolute;
      left: -100px;
      top: 0;
      animation-name:Xani;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
  }
  @keyframes Xani {
      from{
          left: -300px;
      }
      to{
          left: 0;
      }
  }


  .page4 .container{
      position: absolute;
      z-index:1;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
  }







/* page5 */




    .page5{
        position: relative;
    }

   .page5 .romeo_jul{
  
      position: absolute;
      left: 0;
      top: 0;
      animation-name:XYani;
      animation-duration: 3s;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
      animation-timing-function:ease-in;
  }
  @keyframes XYani {
      0%{
          left: 0;
          top: 0;
          
      }
      25%{
          left: -50%;
          top: 0;
      }
      75%{
          left: 0;
          top: -30%;
      }
      100%{
          left: -50%;
          top: -30%;
          
      }
  }
  .page5 .container{
    position: absolute;
    z-index:1;
    top: 40%;
    left: 30%;
    
}



/* page6 */

.shoes{
    animation-name: shoes;
    animation-duration: .5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes shoes {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(20deg);
    }
}
.bow{
    animation-name: bow;
    animation-duration: .5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes bow {
    from{
        transform: translate(10px,10px)
    }
    to{
        transform: translate(10px,30px)
    }
}
.bag{
    animation-name: bag;
    animation-duration: .7s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes bag {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-20deg);
    }
}
.book{
    animation-name: book;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes book {
    from{
        transform: translate(10px,10px)
    }
    to{
        transform: translate(10px,30px)
    }
}
.gift{
    overflow: hidden;
}
.page6 .product:hover{
    color:#AB5E59;
}







.share{
    cursor: pointer;
}

.share:hover .fab{
    color: red;
}



  @media screen and (max-width:1000px) {
    .page3 .date{
        margin-bottom: 50px;
    }
    
    video{
        height: 100%;
        width: 100%;
    }
      .page4 img,
      .page5 img{
          animation:none;
          height: 100%;
      }
      .page4 .container{
        position: absolute;
        z-index:1;
        top: 50%;
        left: 0;
        transform:translateY(-50%);
    }
      .page5 .container{
        position: absolute;
        z-index:1;
        top: 50%;
        left: 0;
        transform:translateY(-50%);
    }
  
  }