@charset "UTF-8";


#wrap{
  width: 100%;
  margin: 0 auto;
}


header{
  background-image: url(../images/Group1.png);
  background-repeat: no-repeat;
}

.blue{
width: 980px;
margin: 0 auto;
position: relative;
}
.logo{
  position: absolute;
  left: 0;
  top:20px;
}

.search{
  width: 290px;
  height: 28px;
  background: #fff;
  border-radius: 32px;

}
