@charset "UTF-8";
/* 모바일 */
@media screen and (max-width:700px){

    body{
        background: #313131;

    }

    header{
        width: 100%;
        height: 48px;
        background: #313131;
        z-index: 9999;
        position: relative;
    }
    .nav h1{
        display: none;
    }
    .toggleMenu{
        display: block;
    }
    

    .nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background:#313131;
        left:0;
        top: -100%;;        
        transition:.3s
      }

    .nav.mHome 
    {
        display: block;
    }  
  
    .mlogo{
        display: block;
        float: left;
        padding-top: 12px;
    }

    .nav ul li a{
        color:#fff;
        display: block;
        width: 100%;
        padding-left: 24px;
        line-height: 48px;
    }  
    .nav .mainmenu{
        padding-top: 10px;
    }
    
    .nav .submenu{
        display: none;
    }

    .mlogo{
        padding-left: 16px;
    }


      /* 모바일 슬라이더 */


    .sliderWrap .bx-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0 none;
        margin-bottom: 0px;
    
    }
    /* .slider li video{
        width: 100%;
    } */
    /* .sliderWrap li.slider1st,
    .sliderWrap li.slider2st{
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      height:1000px;
    } */
    /* .sliderWrap li.slider1st{background-image: url(../images/mainimg01.jpg);}
    .sliderWrap li.slider2st{background-image: url(../images/mainimg02.jpg);} */
    /* .sliderWrap .slider_txt{
      position: absolute;left: 50%;top:30%;transform:translate(-50%,-50%);
      color:white;text-align: center;
    }   */

    /* .sliderWrap{           
        width: 100%;       
        
    }
    .sliderWrap .slider>video{
        width: 100%;
        height: 100%;
    }
    .sliderWrap .slider li img{
        width: 100%;
           
    } */

    .textWrap{
        position: absolute;
        bottom: 17px;
        left:16px;
        
        
    }
    .textWrap p{
        color:#fff;
        font-size: 12px;
        font-weight: 400;
    }


    
    #myVideo {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black;
        background-position: center center;
        object-fit: cover;
        z-index: 3;
    }




    /* 모바일 콘텐츠 */



    .content{height:auto}
    .content .contList{
        width: 100%;
        position: relative;
        top:0
    }
    .content .contList>li{
        /* width: 50%; */
        box-shadow: 5px 0px 12px -3px rgba(0,0,0,0.78);
        height: 100% !important;
        
    }




    /* 모바일 제강 */



    .content .contList>li:nth-child(1){
        background-image: url(../images/mainp01.png);
        background-repeat: no-repeat;
        background-size: hover;
        margin:0 16px;
        position: relative;
        margin-bottom: 10px;
        padding-left: 24px;
        padding-top: 220px;
        padding-bottom: 10px;
    }
    .content .contList>li:nth-child(1) .title{
        
        color:#fff;
        font-size: 20px;
        font-weight: bold;
    }
   
    
    .content .contList>li:nth-child(1) h2{
        display: none;
        
    }
    .content .contList>li:nth-child(1) .txtBox p{
        display: block;
        width: 175px; 
        white-space: nowrap;
        overflow: hidden;
        color:#fff;
    }


    /* 모바일 포항쇼룸 */


    .content .contList>li:nth-child(2){
        order:2;
        margin: 0;
        /* margin-bottom: 10px; */
    }
    .content .contList>li:nth-child(2) img{
        display: none;
    }
    .content .contList>li:nth-child(2) embed{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    } 
    .content .contList>li:nth-child(2) .videoTitle{
        display: none;
    }
    .content .contList>li:nth-child(2) .play{
        display: none;
    }


    


    /* 모바일 뉴스 */



    .content .contList>li:nth-child(3){
        order:3;
        margin-bottom: 10px;
        
    }
    .content .contList>li:nth-child(3) h2{
        display: none;
    }
    .content .contList>li:nth-child(3) a{
        /* display: block; */
        /* width: 100%; */
        float: left;
        line-height: 60px;
        color:#fff;
        font-size: 14px;
    }
  
    .content .contList>li:nth-child(3) i{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }    
    .content .contList>li:nth-child(3) .news{
        margin: 0 16px;
    }
    .content .contList>li:nth-child(3) .news div{
       
        height: 60px;
       text-indent: 24px;
        position: relative;
    }
    .content .contList>li:nth-child(3) .news div:nth-child(1){
        
        background: rgba(91,91,91,0.5);
    }
    .content .contList>li:nth-child(3) .news div:nth-child(2){
        
        background: rgba(91,91,91,0.7);
    }
    .content .contList>li:nth-child(3) .news div:nth-child(3){
        
        background: rgba(91,91,91,0.8);
    }
    .content .contList>li:nth-child(3) .news div:nth-child(4){
        
        background: rgba(91,91,91,0.9);
    }
    .content .contList>li:nth-child(3) .newsImg img{
       /* display: block; */
       display: none;
       
       
        
    }
    .content .contList>li:nth-child(3) .m_news img{
       /* display: block; */
       display: none;
       
       
        
    }

    




    /* 모바일 네트워크 */


    .content .contList>li:nth-child(4){
        order:4;
        margin: 0 16px;        
        position: relative;
        /* height: 240px !important;  */
        padding-bottom: 15px;       
        margin-bottom: 10px;
        /* box-shadow: #fff; */
        z-index: 999;
        
        
    }
  
    
    .content .contList>li:nth-child(4) .netImg img{
        /* position: absolute;
        top: 0;
        left: 0; */
        max-width:100%;
        height: auto !important;
        /* z-index: 90; */
    }
    .content .contList>li:nth-child(4) h2{
        display: none;
    }
   
    .content .contList>li:nth-child(4) .network{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: #313131;
        
    }
    .content .contList>li:nth-child(4) .network p{
        
        font-size: 14px;        
       line-height: 40px;
        text-align: center;
        
        color:#fff;
        
    }


    /* 모바일 제품소개 */




    .section{
        order: 5;
        margin: 0 16px;
        background-image: url(../images/mo_bg.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        height: 240px;
        padding-top:22px;
        margin-bottom: 10px;
    }
    .section h4{
        color:#fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 29px ;
    }
   
    .section .card img{
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .section .card_body {
        padding-top: 10px;
    }
    .section .card_body h3{
        color:#fff;
        font-size: 14px;
        text-align: center;
    }
    .section .card_body p{
        display: none;
    }
    



    /* 모바일 sns */

    .sns{
        
        margin: 0 16px;
    }
    .sns h2{
        display: none;
    }
    .snslist .triangle1,
    .snslist .triangle2{
        display: none;
    }
    .snslist .snsPic{
        width: 176px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .snslist{
        width: 100%;
    }
    .snslist li{
        position: relative;
        margin-bottom: 8px;
        background: #fff;
        height: 112px;
        overflow: hidden;
        
       
    }
    .snslist .blog{
        display: none;
    }
    .snslist li h4{
        font-size: 12px;

    }
    .snslist li .snsPic{
        /* float: left;         */
        height: 100%;

    }

    .sns .snslist li:nth-child(1),
    .sns .snslist li:nth-child(3),
    .sns .snslist li:nth-child(6),
    .sns .snslist li:nth-child(8){
        float: left;
        width: 30%;
        padding:5px;
        
    }

    

    

    .sns .snslist li:nth-child(2),
    .sns .snslist li:nth-child(4),
    .sns .snslist li:nth-child(5),
    .sns .snslist li:nth-child(7){
        width: 70%;
        padding-left:15px;  
        padding-right: 5px;      
        float: right;
        box-shadow: 5px 0px 12px -3px rgba(0,0,0,0.78);
    }
   
  
    .snsbox{
        position: relative;
        height: 100%;
    }
    .sns .snslist li:nth-child(2) p,
    .sns .snslist li:nth-child(4) p,
    .sns .snslist li:nth-child(5) p,
    .sns .snslist li:nth-child(7) p{
        color:#575757;
        font-size:  10px;
        position: absolute;
        right: 6px;
        bottom: 6px;
    }
    .sns .snslist li:nth-child(2) h4,
    .sns .snslist li:nth-child(4) h4,
    .sns .snslist li:nth-child(5) h4,
    .sns .snslist li:nth-child(7) h4{
        position: absolute;
        font-size: 12px;
        left: 20%;
        top: 50%;
        transform: translate(-20%,-50%);
    }


  

    /* 모바일 인재채용 */
    
    .recruit{
        display: none;
    }






    /* 모바일 서브페이지 */

    .subBg{
        background: #fff;
    }
    .visualwrap{
        /* width: 100%; */
        height: 80px;
        /* position: relative; */
        /* margin: 0 auto; */
    }
    .visualcom{
        background-image: url(../images/visual.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }

    .visual{
        padding-top: 20px;
        /* margin-bottom: 10px; */
    }
    .visual h2{
        text-align: center;
        color:#fff;
        margin-bottom: 44px;
    }
    .subpageMenu{
        /* position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-50%); */
        padding: 0 16px;
        width: 100%;
             
        
    }
    
    .subpageMenu li{
        float: left;              
        width: calc( (100% - 40px) / 3 );
        text-align: center;
        padding-bottom: 5px;
        margin-bottom: 20px;        
    }
   
    .subpageMenu li.active{
        border-bottom: 2px solid #313131;
    }
    .subpageMenu li + li{
        margin-left: 20px;
    }

    .subpageMenu li a{
        font-size: 14px;
        color:#313131;
    }
    .wrapper{
        margin: 0 16px;
        
    }
    .location{
        display: none;
    }
    

    .subpage{
        margin: 0 16px;
        
    }

    .subpage div img{
        width: 100%;
    }

    /* 제품소개 */

 
    .visualpro{
        background-image: url(../images/visual2.jpg) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }

    .proVer li{
        width: calc( (100% - 100px) / 6 ) !important;
    }

    .prosubpage{
        width: 100%;
        padding-top: 30px;
    }
    /* .m_sub{
        display: none;
    }
   */
    .pro01{
        height: 750px;
        background: url(../images/bg1.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
        
    }
    .pro02{
        height: 750px;
        background: url(../images/bg2.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
       
    }
    .pro03{
        height: 750px;
        background: url(../images/bg3.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
     
    }
    .pro04{
        height: 750px;
        background: url(../images/bg4.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
        
    }
    .pro05{
        height: 750px;
        background: url(../images/bg5.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
        
    }
    .pro06{
        height: 750px;
        background: url(../images/bg6.jpg) no-repeat center fixed;
        background-size: cover;        
        padding:100px 0;
        position: relative;
       
    }


    .proText{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    } 
    .proText h3{
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .proText p{
        margin-bottom: 10px;
        font-size: 16px;
        color:#fff
    }
    .proText h4{
        color: #EAB067;
        font-size: 20px;
    }

    






    /* 지속가능경영 */

    .visualcon{
        background-image: url(../images/visual4.jpg) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }


    .cnVer li{
                     
        width: calc( (100% - 60px) / 4 ) !important;
        
        
    }



    /* 투자정보 */

    .visualfin{
        background-image: url(../images/visual3.jpg) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }

    .finVer li{
        width: calc( (100% - 20px) / 2 ) !important;
    }



    /* 홍보센터 */

    .visualnew{
        background-image: url(../images/visual5.jpg) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 40px;
    }








    /* 모바일 푸터 */

    .footlogo{
        display: none;
    }

    .m_footlogo{
        display: block;
        margin-bottom: 10px;
       
    }
    .m_footlogo img{
        width: 44px;
        margin: 0 auto;
    }


    .footer{
        width: 100%;
        height: auto;;
        /* margin: 0 16px;         */
        padding: 20px 40px;
        background: #25262A;
        /* position: relative; */
        
    }
    
    
    .footmain .sitemap li{
        float: left;      
        text-align: center;
    }
    .footmain .sitemap li + li{
        margin-left: 11px;
    }
    .footmain .sitemap li a{
        color:#B1A7A7;
        font-size: 14px;
    }

    .footmain .family{
        display: none;
    }
   
    .address{
        color: #101010;
        float: left;
        font-size: 12px;
    }
    .copyright{
        float: left;
        font-size: 12px;
        color: #101010;
    }

    .top{
        position: fixed; 
        width: 45px;
        height: 45px;
        background: #313131; 
        border-radius: 22px;    
        right: 20px;
        bottom: 50px;       
        display: flex;
        justify-content: center;
        align-items: center;
        animation: viewTop 1s infinite alternate;
        cursor: pointer;
        opacity: 0;
        transition:.3s;
        font-size: 15px;
        color:#fff;
    }
    
    .top.view{
        opacity: 1;
    }

    
}








