@charset "UTF-8";




html,body{
    width: 100%;
    height: 100%;
}
body{
    font-size: 13px;
    font-family: Gotham-Medium,sans-serif,'돋움';
    color:#232323;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style:none;
}
a:link,a:visited{
    text-decoration: none;
    color:#232323;
}
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}
a:hover{
    color:var(--primary-color) !important;
}