@charset "utf-8";


/*헤더*/


.container {
  background: #0044af;
  width: 100%;

}

.gnb {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
}

.left_gnb {
  width: 365px;

}

.left_gnb li {
  cursor: pointer;
  float: left;
  background: #00163b;
  padding: 9px 37px;
  margin-left: 1px;
}

.left_gnb li:first-child {
  background: #fff;
  margin-left: 0;
}

.left_gnb li a {
  color: #a5a5a5;
  font-size: 10pt;
}

.mp div{
  float: left;
  padding-top: 3px;
}

.squre1{
  margin-right: 2px;

}



.right_rnb {
  width: 400px;
  float: right;


}

.right_rnb li {
  float: left;
  margin-right: 9px;

}

.right_rnb li a {
  color: #fff;
  font-size: 10pt;
line-height: 40px;
}



.line{
  position: absolute;

}

.lnb {
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}

.lnb img {
  float: left;

}

.wrap {
  float: right;

}


.right_lnb {
  float: left;
  width: 600px;

}

.right_lnb li {
  float: left;
  width: calc(600px / 5);

}

.right_lnb li a {
  line-height: 45px;
}

.nav_icon {
  float: left;
  width: 90px;
}

.nav_icon li {
  float: left;


}




/*본문1*/


.titleWrap{
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.textbox{
  float:left;
  width:670px;
}
.textbox h2,h3{
  color:#fff;
}

.icons{
  float: right;
  width: 550px;
  text-align: center;

}
.icons li {
  float: left;
  width:calc(550px / 4);
}

.icons li a img{
  border: 2px solid #fff;
  padding:10px;
  border-radius: 50%;
}
.icons li a p{
  color:#fff;
}


/*
.section2{
width: 1200px;
margin: 0 auto;
}

.article{
float:left;
position: relative;

}

.article li .textSlide{
position: absolute;
left:85px;
bottom:84px;
}
.textSlide p{
font-size: 40px;
color:#1351b6;
font-weight: bold;
}
.textSlide b{
font-size:50px;
color:#1351b6;
}
.content .textSlide a{
display: block;
color:#fff;
font-size: 15px;
width:170px;
background: #192d4e;
text-align: center;
line-height: 40px;

}
*/






/*content*/

#contents{
  height:1300px;
  background-image: url(../image/bg_dot.gif), url(../image/main_bg.jpg);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size:auto,cover;

  padding:10px 0;
}

#contents .titleWrap{
  width: 1200px;
  height: 200px;
  margin: 0 auto;

  padding:50px;
}
.textbox{
  width:500px;
}
.textbox h2{
  font-size: 44px;
}
.textbox h3{
  font-size: 38px;
  font-weight: 100;
}
#contents .container02{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #fff;
}

#contents .container02 > ul >li{
  float:left;
  width: 25%;
  height: 225px;
}
#contents .container02>ul>li:nth-child(2n){
  background: pink;
}
#contents .container02>ul>li:nth-child(1){
  width: 75%;
  height: 450px;
  position: relative;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
  background: #fff;
}

.textSlide{
  position: absolute;
  left:85px;
  bottom:85px;
}
.textSlide p{
  font-size: 40px;
  color:#1351b6;
  font-weight: bold;
  margin-bottom:15px ;
}
.textSlide b{
  font-size:50px;
  color:#1351b6;
}
#contents .textSlide a{
  display: block;
  color:#fff;
  font-size: 15px;
  width:170px;
  background: #192d4e;
  text-align: center;
  line-height: 40px;

}

.nextBtn,.prevBtn{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.nextBtn{
  right: 0;
}
.prevBtn{
  left:0;
}



/* 스마트도서관 */




#contents .container02>ul>li:nth-child(2){
  height:450px;
  position: relative;


}

.Lib img{
  position: absolute;

}

.smartLib{
position: absolute;
padding:90px 40px;
}

.smartLib li p{
  color:#fff;
}
.smartLib li:first-child{
  margin-bottom: 30px;
}
.smartLib li:first-child p{
  font-size: 25px;
}
.smartLib li:nth-child(2){
    margin-bottom: 40px;
}
.smartLib li:nth-child(2) p{
  font-size: 15px;

}

.smartLib li:nth-child(3) a{
  display: block;
  color:#fff;
  font-size: 15px;
  width:170px;
  background: rgba(3, 3, 3, 0.6);
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
}


/* 핫링크 */


#contents .container02>ul>li:nth-child(3){
  background: #00163b;
  padding:29px 37px;
}

.container03> h2{
  color:#fff;
  font-weight: bold;
  margin-bottom: 32px;
}
.hotlink{
  width: 225px;

}
.hotlink li{

  float: left;
margin-right: 20px;

}
.hotlink li:last-child{
  margin-right: 0;
}
.hotlink li img{

  text-align: center;
}

.text_link p{
  font-size: 12px;
  color:#fff;
  text-align: center;

}


/* 공지사항 */


#contents .container02>ul>li:nth-child(4){
  background-image: url(../image/blue_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding:29px 20px;
}
.container04 h2{
  color:#fff;
  position: relative;
  margin-bottom: 35px;
}

.container04 h2:after{
  content:"";
  position: absolute;
  width: 260px;
  height: 1px;
  background: #fff;
  left:0;
  top:50px;

}
.notice{
  _margin-top: 35px;

}
.notice li{
  position: relative;
  line-height: 28px;
  width: 100%;
  /* height:20px; */
}
.notice li:after{
  content:"";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #fff;
  left: 0px;
  top:15px;

}

.notice li p, time{
  color:#fff;
  font-size: 14px;
}
.notice li p{
  position: relative;
  text-indent:10px
}
.notice li p time{
  position: absolute;
  right:0;

}


/* sns뉴스 */


#contents .container02>ul>li:nth-child(5){
  background: #fff;
  padding:29px 20px;
}
.sns_news h2{
  margin-bottom: 20px;
}
.sns_news>ul>li>img{
  float: left;
  margin-right: 8px;
}
.sns_news>ul>li>p{
  font-size: 14px;
}
.sns_01>li:nth-child(2){
  margin-bottom: 27px;
}
.sns_news>.sns_02>li{
  float: right;
}
.sns_02>li>img{
  margin-right: 5px;
}

/* 캠퍼스투어 */


#contents .container02>ul>li:nth-child(6){

}
.campus>ul>li{
  position: relative;
  height:255px;
  width: 300px;
  overflow: hidden;
}
.campus>ul>li>.overlay{
background: rgba(51, 51, 51, 0.8);
  color:#fff;
  position: absolute;
  height:20%;
  width: 100%;
  top:-100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.campus>ul>li:hover .overlay{
  top:180px;
}


/* 동영상 */


#contents .container02>ul>li:nth-child(7){
  background: pink;
}
.video{
  position: relative;
}

.video a{position: absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button{
position: absolute;
width: 300px;
height: 225px;
top:0;
left:0;
cursor: pointer;


}

.video a:hover{
  transform: scale( 1.5 );
}




.video .play{
  position: absolute;
  background: rgba(87, 87, 87, 0.64);
  width:62px;
  height:62px;
  border-radius: 50%;
  top:50%;
  left: 50%;
 transform: translate(-50%,-50%);
}
.video .tri{
  position: absolute;
  width: 0px;
  height: 0px;
  border-top:20px solid transparent;
  border-bottom:20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid #fff;
  top:50%;
  left: 55%;
 transform: translate(-50%,-50%);
}






#contents .container02>ul>li:nth-child(8){
  background: pink;
  width:75%;
}



.bx-pager {
    position: absolute;
    top:-5px;
    right: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #f74239;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 25%;
    height:20%;
}


.box{
position: absolute;
top:40px;
left:20px;

}

.box li h3{
  font-size: 30px;
  font-weight: 300;
  color:#fd503f;
}
.box li h2{
  font-size: 50px;
  color:#fd503f;
}
.box li:nth-child(3){
  width:170px;
  background: rgba(255, 95, 45, 0.91);
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
}

.box li a{
  color:#fff;
}



.btWrap{
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  padding:20px;
  position: relative;
}

.btWrap>.btContents_1{
  float: left;
  width:220px;
height:20px;
}


.btWrap .btContents_1 li{
  float: left;
}
.btWrap .btContents_1 h3{
  color:#03163e;
  margin-right: 10px;
}

.btWrap>.btContents_1 img{
  margin:0 10px;
}

.btContents_1 li:nth-child(3):after{
  content:"";
  position: absolute;
  width:2px;
  height:60px;
  top:0;
  bottom:0;
  background: #6b6b6b;
  left:230px;

}
.btContents_2{
  float:right;
  width:880px;
  height: 20px;
}
.btContents_2>li{
  float: left;

}
.btContents_2>li:nth-child(1){
  margin-right: 10px;
}





/* 푸터 */

.footerWrap{
  width: 800px;
  margin: 0 auto;
  padding:10px 0;
}

.sitemap{
  margin-bottom: 10px;

}
.sitemap li{
  float: left;
  margin-right: 30px;
position: relative;
}

.sitemap li:after{
content: "";
position: absolute;
width:1px;
height:15px;
background: #686868;
top:2px;
left:80px;
}

.sitemap li:nth-child(2):after{
content: "";
position: absolute;
width:1px;
height:15px;
background: #686868;
top:2px;
left:95px;
}
.sitemap li:nth-child(3):after{
content: "";
position: absolute;
width:1px;
height:15px;
background: #686868;
top:2px;
left:135px;
}
.sitemap li:nth-child(4):after{
content: "";
position: absolute;
width:1px;
height:15px;
background: #686868;
top:2px;
left:75px;
}
.sitemap li:nth-child(5):after{
content: "";
position: absolute;
width:1px;
height:15px;
background: #686868;
top:2px;
left:165px;
}
.sitemap li:nth-child(6):after{
content: "";
display: none;
}


.sitemap a{
  font-size: 15px;
color: #686868;
}


.footerWrap>.add{
  float: left;
  margin-bottom: 10px;
}
.add p{
  font-size: 13px;
  color:#888888;
}

.copy{
  float: left;
}
